[user]
    name = Jonathan Parent
    email = {{ .email | quote }}
    signingkey = ~/.ssh/id_ed25519_sk_github_1.pub

[color]
	ui = auto

[url "git@github.com:"]
	pushinsteadof = https://github.com/

[pager]
	branch = cat
	config = cat

[ghq]
	root = ~/.local/share
	root = ~/ghq

[gpg]
    format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[pull]
	rebase = false

[core]
	quotepath = false
	editor = vim
